/* 
------------------------------------------
   ------------------------------------------
@File: Tamplate Styles

* This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.

This files contents are outlined below>>>>>
------------------------------------------
   ------------------------------------------
** - INDEX PAGE CSS
** - Global Style
	 - Default Form
	 - Placeholder Color
** - Header
	 - Navigation
** - Hero
** - Col
** - Services
** - Feature
** - Counter
** - Slider
	 - OWL Slider Customize
** - News
** - Support
** - Footer
   ------------------------------------------
------------------------------------------ */
/*
	Global Style
============================ */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box; }

a, a:focus, a:hover {
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #4e8cf8; }

.mb-15, h1, h2, h3, h4, #services .services-mess h5, h5, h6, p {
  margin: 0 0 15px;
  font-weight: 500; }

p {
  font-weight: 400; }

p:last-child {
  margin-bottom: 0; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  max-width: 100%;
  color: #a6a6a6;
  line-height: 1.3; }

.spacing {
  padding: 80px 0; }

/*
  Default Form
=================*/
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="submit"], button[type="submit"], input[type="search"], textarea {
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  box-shadow: none;
  padding: 5px 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  min-height: 40px;
  margin-bottom: 15px;
  outline: none; }

input[type="submit"], button[type="submit"] {
  cursor: pointer; }

input:focus, textarea:focus {
  border: 1px solid #fed45c; }

textarea {
  min-height: 170px; }

input::-moz-placeholder {
  color: #a6a6a6;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

input:-ms-input-placeholder {
  color: #a6a6a6; }

input::-webkit-input-placeholder {
  color: #a6a6a6; }

.land-btn {
  display: inline-block;
  background: #fed45c;
  color: #212121;
  padding: 15px 30px;
  border-radius: 50px;
  text-transform: uppercase !important;
  text-align: center; }
  .land-btn:hover {
    border-color: #e8e8e8;
    color: #212121 !important; }
  .land-btn.land-btn-2 {
    border: 1px solid #e8e8e8;
    background: transparent; }
    .land-btn.land-btn-2:hover {
      background: #fed45c;
      border-color: #fed45c;
      color: #212121 !important; }

.sec-header {
  text-align: center;
  margin-bottom: 50px; }

.sp-title {
  font-size: 30px;
  text-transform: capitalize;
  color: #212121;
  font-weight: 500; }

.container {
  width: 960px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  max-width: 100%;
  padding: 0 45px; }

/* ==============================
			Header
============================== */
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2; }

.mobile-menu.dextop_off {
  display: none; }

/* 
	Navigation
============================== */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }

.main_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }
  .main_menu ul li {
    position: relative; }
    .main_menu ul li a {
      padding: 30px 20px;
      display: block;
      color: #fff;
      text-transform: uppercase; }
    .main_menu ul li.active a {
      color: #fed45c; }
    .main_menu ul li:hover > a {
      color: #fed45c; }
    .main_menu ul li:hover > ul {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      visibility: visible;
      top: 100%; }
  .main_menu ul ul {
    position: absolute;
    left: 0;
    top: 110%;
    min-width: 220px;
    visibility: hidden;
    background: #262626;
    z-index: 2;
    display: inherit;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }
    .main_menu ul ul li {
      display: block; }
      .main_menu ul ul li a {
        padding: 5px 15px; }
      .main_menu ul ul li:hover > ul {
        top: 0;
        visibility: visible;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100); }
    .main_menu ul ul ul {
      left: 100%;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      visibility: hidden; }

.sticky {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: #f1689e;
  box-shadow: 0 3px 7px rgba(25, 25, 25, 0.2);
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  z-index: 9999; }

/* ==============================
			Hero
============================== */
#hero {
  background: #f1689e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f1689e 0%, #b47ab7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f1689e 0%, #b47ab7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f1689e 0%, #b47ab7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1689e', endColorstr='#b47ab7',GradientType=0 );
  /* IE6-9 */
  min-height: 650px;
  padding-top: 79px;
  position: relative;
  z-index: 1; }
  #hero .world-map {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 90%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  #hero:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(top, #f1689e 0%, rgba(180, 122, 183, 0.5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f1689e 0%, rgba(180, 122, 183, 0.5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f1689e 0%, rgba(180, 122, 183, 0.5) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1689e', endColorstr='#80b47ab7',GradientType=0 );
    /* IE6-9 */
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    z-index: -1; }

.hero-content {
  text-align: center;
  padding: 250px 0;
  color: #fff; }
  .hero-content h1 {
    font-size: 45px;
    font-weight: 500; }
  .hero-content .land-btn {
    margin-top: 30px; }

.service-boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  max-width: 720px;
  margin: -53px auto 80px;
  position: relative;
  z-index: 1; }
  .service-boxs .single-service-box {
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    background: #fff;
    box-shadow: 0px 7px 5px #f6f6f6;
    border-radius: 2px; }
    .service-boxs .single-service-box p {
      text-transform: uppercase;
      margin-bottom: 7px;
      color: #212121; }

/* 
	Col
============================== */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col, .col-md-12, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3 {
  position: relative;
  padding-right: 15px;
  padding-left: 15px; }

.col-md-12 {
  width: 100%; }

.col-md-8 {
  max-width: 66.666667%; }

.col-md-7 {
  width: 58.333333%; }

.col-md-6 {
  width: 50%; }

.col-md-5 {
  width: 41.666667%; }

.col-md-4 {
  width: 33.333333%; }

.col-md-3 {
  width: 25%; }

/* ==============================
			Services
============================== */
#services {
  padding-top: 0; }
  #services .service-content h4, #services .service-content .services-mess h5, #services .services-mess .service-content h5 {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 18px; }
  #services .service-content h2 {
    color: #212121;
    font-weight: 500;
    font-size: 30px; }
  #services .services-mess {
    text-align: center;
    max-width: 575px;
    margin: 70px auto 0; }
    #services .services-mess img {
      margin-bottom: 9px; }
    #services .services-mess h4, #services .services-mess h5 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 400; }
    #services .services-mess h5 {
      font-weight: 500;
      color: #212121; }
      #services .services-mess h5 span {
        font-weight: 400;
        color: #a6a6a6; }

/* ==============================
			Feature
============================== */
#feature {
  background: #fcfcfc;
  border-top: 1px solid #f3f3f3; }

.single-feature-box, #support .single-cart {
  text-align: center; }
  .single-feature-box .icon-box, #support .single-cart .icon-box {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; }
  .single-feature-box h4, #support .single-cart h4, .single-feature-box #services .services-mess h5, #services .services-mess .single-feature-box h5, #support .single-cart #services .services-mess h5, #services .services-mess #support .single-cart h5 {
    font-size: 18px;
    text-transform: capitalize;
    color: #212121;
    font-weight: 500; }

/* ==============================
			Counter
============================== */
#counter {
  background: #f1689e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f1689e 0%, #b47ab7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f1689e 0%, #b47ab7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f1689e 0%, #b47ab7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1689e', endColorstr='#b47ab7',GradientType=0 );
  /* IE6-9 */
  padding: 0; }
  #counter .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center; }
  #counter .counter-content {
    color: #fff; }
    #counter .counter-content .sp-title {
      color: #fff;
      margin-bottom: 40px; }
    #counter .counter-content .counter-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
      width: 100%; }
      #counter .counter-content .counter-items .single-counter {
        width: 140px; }
        #counter .counter-content .counter-items .single-counter h3 {
          font-size: 30px;
          font-weight: 500;
          margin-bottom: 10px; }
        #counter .counter-content .counter-items .single-counter h2 {
          font-size: 36px;
          font-weight: 500; }

/* ==============================
			Slider
============================== */
.lp-slides {
  padding: 15px; }
  .lp-slides .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center; }
  .lp-slides .lp-slides-content {
    padding-top: 50px; }
    .lp-slides .lp-slides-content h2 {
      font-size: 24px;
      text-transform: uppercase; }
    .lp-slides .lp-slides-content .lp-slides-btn {
      margin-top: 30px; }
      .lp-slides .lp-slides-content .lp-slides-btn .land-btn {
        min-width: 130px;
        margin-right: 20px; }
        .lp-slides .lp-slides-content .lp-slides-btn .land-btn:last-child {
          margin-right: 0; }
  .lp-slides .lp-products {
    box-shadow: 0 3px 15px #ccc; }
    .lp-slides .lp-products img {
      width: 100%; }

/* 
	OWL Slider Customize
============================== */
.lp-slider .owl-nav > div {
  width: 45px;
  height: 45px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 45px;
  font-size: 37px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -70px; }
.lp-slider .owl-nav > div.owl-next {
  left: auto;
  right: -70px; }
.lp-slider .owl-dots > div {
  width: 15px;
  background: #fed45c;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #f1689e;
  display: inline-block;
  margin-right: 9px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .lp-slider .owl-dots > div.active {
    background: #f1689e; }
  .lp-slider .owl-dots > div:hover {
    background: #f1689e; }
.lp-slider .owl-dots {
  position: absolute;
  top: 35px;
  left: 15px; }

/* ==============================
			News
============================== */
#news {
  background: #f6f6f6; }
  #news .cta-form {
    background: #fff;
    padding: 35px 25px;
    box-shadow: 0 0 15px #e4e4e4; }
    #news .cta-form h3 {
      font-size: 24px;
      color: #212121; }
    #news .cta-form form {
      margin-top: 25px; }
      #news .cta-form form input.land-btn {
        border-radius: 50px;
        margin-bottom: 0; }
  #news .single-news-box {
    background: #fff;
    box-shadow: 0 0 15px #e4e4e4;
    border-radius: 5px;
    margin-top: 10px; }
    #news .single-news-box .single-news-bg {
      background: #ddd;
      min-height: 150px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 5px 5px 0 0; }
    #news .single-news-box .single-news-bg-1 {
      background-image: url("assets/images/news/1.jpg"); }
    #news .single-news-box .single-news-bg-2 {
      background-image: url("assets/images/news/2.jpg"); }
    #news .single-news-box .news-content {
      padding: 15px;
      min-height: 95px; }
      #news .single-news-box .news-content .date-meta {
        margin-bottom: 5px;
        font-size: 12px;
        text-transform: uppercase; }
      #news .single-news-box .news-content h3 {
        margin-bottom: 0; }
        #news .single-news-box .news-content h3 a {
          font-size: 16px;
          color: #212121; }
  #news .faq {
    margin-top: 50px; }
    #news .faq .beefup {
      border: none;
      border-bottom: 1px solid #ececec;
      border-radius: 0; }
      #news .faq .beefup:hover {
        border-color: #ececec; }
      #news .faq .beefup .beefup__head {
        padding: 10px 0;
        font-size: 18px;
        position: relative; }
        #news .faq .beefup .beefup__head::after {
          content: "\f067";
          font-family: fontawesome;
          border: none;
          margin: 0;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
          line-height: 15px;
          right: 0;
          border: 1px solid #ececec;
          padding: 5px;
          text-align: center;
          border-radius: 50px;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }
      #news .faq .beefup .beefup__body {
        padding: 0 0 10px; }
  #news .faq .beefup.is-open .beefup__head::after {
    content: "\f068";
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  #news .faq .beefup.is-open > .beefup__head::after {
    border-width: 1px;
    border-color: #ececec;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

/* ==============================
			Support
============================== */
#support .single-cart h4, #support .single-cart #services .services-mess h5, #services .services-mess #support .single-cart h5 {
  text-transform: uppercase; }

/* ==============================
			Footer
============================== */
footer {
  min-height: 200px;
  padding: 60px 0;
  border: 1px solid #737c8e;
  background-image: url("assets/images/footer-bg.jpg");
  background-size: cover;
  background-position: center; }
  footer .copyright {
    text-align: center;
    margin-top: 25px; }
    footer .copyright a {
      color: #fed45c; }
      footer .copyright a:hover {
        color: #4e8cf8; }

.social-link {
  text-align: center; }
  .social-link a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #3a4968;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    margin: 0 5px; }
    .social-link a:hover {
      background-color: #fed45c;
      color: #212121; }

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #hero {
    min-height: auto; }
    #hero .hero-content {
      padding: 100px 0; } }
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 760px; }

  #hero {
    min-height: auto; }
    #hero .hero-content {
      padding: 100px 0; }

  .col-sm-12 {
    width: 100%;
    max-width: 100%; }

  .news-blog {
    margin-top: 50px; }

  .lp-slider .lp-slides {
    padding: 15px; } }
/* Mobile Layout: 320px. */
@media (max-width: 767px) {
  .container {
    max-width: 100%; }

  .spacing {
    padding: 50px 0; }

  #hero {
    min-height: auto;
    padding-bottom: 100px; }
    #hero .hero-content {
      padding: 0; }
      #hero .hero-content h1 {
        font-size: 36px;
        line-height: 1; }
    #hero .world-map {
      height: auto;
      bottom: 100px; }

  .service-boxs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .single-service-box {
    border: 1px solid #ccc;
    width: 100% !important;
    margin-bottom: 10px; }

  .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3 {
    max-width: 100%;
    min-width: 100%; }

  .services-bg {
    margin-top: 50px; }

  .single-feature-box, #support .single-cart, .news-blog, .single-news-box, .counter-content, .lp-products {
    margin-top: 40px !important; }

  #counter {
    padding: 50px 0; }

  #counter .counter-content .counter-items .single-counter {
    width: 115px;
    text-align: center; }

  #feature {
    padding-top: 10px; }

  .lp-slider .lp-slides {
    padding: 15px 0; }
  .lp-slider .owl-dots {
    left: 0; }

  .lp-slides .lp-slides-content .lp-slides-btn .land-btn {
    min-width: 250px;
    margin: 10px 0; } }
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 100%; }

  .service-boxs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }

  .services-bg img {
    width: 100%; }

  .single-feature-box, #support .single-cart {
    max-width: 440px;
    margin: auto; }

  #counter {
    text-align: center; }

  #counter .counter-content .counter-items {
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around; }

  .single-news-bg {
    min-height: 250px !important; }

  .lp-slides .lp-slides-content .lp-slides-btn .land-btn {
    min-width: 190px;
    margin: 10px 10px; } }
/* Only Mobile Menu */
@media (max-width: 1024px) {
  .navigation {
    display: initial; }

  .logo.mobile_off {
    display: none; }

  .mobile-menu.dextop_off {
    display: block; }

  .mobile-menu .logo {
    position: absolute;
    left: 15px;
    top: 18px;
    z-index: 999999;
    max-width: 200px; }

  header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    background: #fff; }

  .mean-container .mean-bar {
    float: left;
    width: 100%;
    position: relative;
    background: #f1689e;
    padding: 0;
    min-height: 42px;
    z-index: 999999; }

  .mean-container .mean-nav {
    margin-top: 55px; }

  .mean-container a.meanmenu-reveal {
    color: #333;
    right: 10px !important;
    top: 5px; }

  .mean-container a.meanmenu-reveal span {
    background-color: #333; }

  .mean-container .mean-nav ul li a.mean-expand {
    height: 22px; }

  .lp-slider .owl-nav {
    display: none; } }

/*# sourceMappingURL=style.css.map */
