
// Font Family 
$roboto:    'Roboto', sans-serif;


// Color
$primaryColor: #212121;
$bodyColor: #a6a6a6;
$themeBG: #fed45c;
$hoverColor: #fed45c;
$linkColor: #4e8cf8;
$white: #fff;
$borderColor: #f5f5f5;
$hoverBg: #f1689e;
